<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Horses</h2>
    <%- include('searchbar', { breeds, riders, types }) %>
    <div>
      <button><a href="/add">Add a new horse</a></button>
    </div>
    <div class="horses-container">
      <% horses.forEach((horse) => { %> <%- include('horses/horse', { horse:
      horse}) %> <% }); %>
    </div>
  </body>
</html>
