<div class="navigation">
  <div class="breeds-container">
    <div>Check out our breeds:</div>
    <div class="breeds-list">
      <% if (!breeds || breeds.length === 0) { %>
      <p>No breeds found.</p>
      <% } else { %> <% breeds.forEach((breed) => { %>
      <div class="breed-type">
        <a href="/filter/breeds/<%= breed.id %>"><%= breed.name %></a>
      </div>
      <% }); %> <% } %>

      <a href="/breeds/add" class="button-link">Add new breed</a>
    </div>
  </div>
</div>
