<dialog id="delete-breed-dialog">
  <form method="POST" id="breed-delete-form"  class="modal-form">
    <h2>Confirm Delete</h2>
    <label for="breed_passcode"">Admin passcode:</label>
    <input type="password" id="breed_passcode" name="breed_passcode" required />
   <div class="dialog-buttons">
    <button value="cancel" type="reset" id="cancel-breed-button" type="reset" class="cancel-button">Cancel</button>
    <button type="submit" class="confirm-button">Confirm Delete</button>
   </div>
  </form>
</dialog>

<script>
  const breedDeleteDialog = document.getElementById("delete-breed-dialog");
  const closeDeleteBreedButton = breedDeleteDialog.querySelector("#cancel-breed-button");
  const deleteBreedBtn = document.querySelector(".delete-breed-btn-admin");
    if (deleteBreedBtn) {
       deleteBreedBtn.addEventListener("click", () => {
        const breedId = deleteBreedBtn.dataset.breedId;
        const breedName = deleteBreedBtn.dataset.breedName;
        const form = breedDeleteDialog.querySelector("#breed-delete-form");
        form.action = `/breed/${breedId}/delete`;

        breedDeleteDialog.querySelector(
          "h2"
        ).textContent = `Confirm delete for ${breedName}`;

        breedDeleteDialog.showModal();
      });
            closeDeleteBreedButton.addEventListener("click", () => {
      breedDeleteDialog.close();
    });
     
    breedDeleteDialog.addEventListener("cancel", () => {
      breedDeleteDialog.close();
    });
    }

</script>
