<html>
  <head>
    <title>New horse</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="main">
      <div class="left-side">
        <h1><%= title %></h1>
        <h2>Horses</h2>
        <%- include('../navigation.ejs', { breeds }) %>
      </div>
          <div class="right-side"> 
          <a href="/">Homepage</a>
      <form method="POST" action="/breed/add">
        <h2>Horse Form</h2>
        <div class="form-input">
          <label for="name">Breed Name (2 to 15 characters):</label>
          <input
            type="text"
            id="name"
            name="name"
            required
            minlength="2"
            maxlength="15"
          />
        </div>
        <input type="submit" value="Add breed" />
      </form>
    </div>
  </body>
</html>
